<div>
    <input [(ngModel)]="email" readonly placeholder="Enter Email">
    <input [(ngModel)]="password" placeholder="Enter Password">
    <input [(ngModel)]="confirmPassword" placeholder="Re-enter Password">
    <button (click)="handleResetPassword()" [disabled]="password === '' || confirmPassword === '' || password !== confirmPassword">Reset Password</button>
    <div *ngIf="password !== confirmPassword && confirmPassword !== ''" style="color: red;">
        Passwords do not match
    </div>
</div>
